:root{
    --mount-meadow: #1bbc9c;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
}

*{
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/* setup & reusable stylings */
img{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--black);
}

li{
    list-style-type: none;
}

button{
    cursor: pointer;
    outline: 0;
    background: transparent;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}

.text{
    margin: 0.6rem 0;
    opacity: 0.8;
    font-family: 'Hind Siliguri';
    font-size: 1.2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    padding: 6.5rem 0;
}

.title{
    padding: 0.6rem 0;
    text-align: center;
}

.title h2{
    font-size: 2.2rem;
    color: var(--night-rider);
}

.title .text{
    font-weight: 500;
    font-size: 1.1rem;
}

/* header */
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(image/Home.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}
.brand-and-toggler{
    font-size: 1.65rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 30%;
}
.navbar-brand{
    font-weight: 500;
    color: var(--night-rider);
}
.navbar-brand span{
    color: var(--mount-meadow);
}
.navbar-toggler{
    border: none;
    color: var(--mount-meadow);
}
.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}
.nav-item{
    padding: 0.6rem 0;
    white-space: nowrap;
}
.nav-link{
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    opacity: 0.65;
    transition: var(--transition);
}

.nav-link:hover{
    color: var(--mount-meadow)!important;
}

.navbar-collapse{
    display: none;
}

.hero-div{
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.hero-div h1{
    font-family: 'Hind Siliguri';
    font-size: 2.55rem;
    padding-top: 8rem;
}

.hero-div h2{
    color: var(--white-smoke);
    font-size: 1.2rem;
    letter-spacing: 3px;
    width: 80%;
}

.hero-btns{
    margin-top: 1.5rem;
}

.hero-btns button{
    border: 3.5px solid #fff;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
}

.btn-trans{
    color: #fff;
    transition: var(--transition);
}

.btn-trans:hover{
    background: var(--mount-meadow);
    border-color: var(--mount-meadow);
}


/* Service Section */
.service {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.service-title h1 {
    text-align: center;
    font-family: 'Hind Siliguri';
    font-size: 3rem;
    color: var(--white-smoke);
    padding-bottom: 1.5rem;
}

.service-item {
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 50px;
    transition: var(--transition);
}

.service-item:hover {
    -webkit-box-shadow: 0 21px 19px -2px rgb(0, 0, 0, 0.5);
    -moz-box-shadow: 0 21px 19px -2px rgb(0, 0, 0, 0.5);
    box-shadow: 0 21px 19px -2px rgb(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.icon {
    max-width: 20%;
}

.service-item span {
    font-size: 2.5rem;
}

.service-item h2 {
    font-family: 'Hind Siliguri';
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 300;
}

.line{
    width: 45px;
    margin: 1.2rem auto;
    background: var(--mount-meadow);
    height: 2.5px;
}

/* Smart City Section */
.smart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.801)), url(image/smart\ city.jpg);
    color: #fff;
}

.smart h2 {
    color: var(--white-smoke);
}

.smart p{
    font-size: 125%;
}

/* About Us Section */

.about .title{
    text-align: left;
}

.about h2 {
    font-family: 'Hind Siliguri';
}

.about-left img{
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
}

.about-right{
    margin-top: 4rem;
}

.about-item{
    margin: 1.4rem 0;
    display: flex;
}

.about-item div h3{
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.85;
}

.about-item span{
    font-size: 1.1rem;
    color: #fff;
    background: var(--mount-meadow);
    align-self: flex-start;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    margin-right: 1.4rem;
}

/* Brands Section */
.brands {
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.801)), url(image/brands.jpg);
}

.brands-item {
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 50px;
    transition: var(--transition);
}

.brands-item:hover {
    -webkit-box-shadow: 0 21px 19px -2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 21px 19px -2px rgba(255, 255, 255, 0.5);
    box-shadow: 0 21px 19px -2px rgba(255, 255, 255, 0.5);
    transform: translateY(-5px);
}

.brand-image {
    max-width: 65%;
}

.brand-title h1 {
    text-align: center;
    font-family: 'Hind Siliguri';
    font-size: 3rem;
    color: var(--white-smoke);
    padding-bottom: 1.5rem;
}

/*Saidon LLC Section*/
.saidon {
    padding: 0;
    padding-top: 50px;
}

.saidon .title{
    text-align: left;
}

.saidon h2 {
    font-family: 'Hind Siliguri';
}

.saidon-left img{
    width: 80%;
    margin-top: 100px;
    border-radius: 50px;
}

.saidon-right{
    margin-top: 4rem;
}

.saidon-item{
    margin: 1.4rem 0;
    display: flex;
}

.saidon-item div h3{
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.85;
}

.saidon-item span{
    font-size: 1.1rem;
    color: #fff;
    background: var(--mount-meadow);
    align-self: flex-start;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    margin-right: 1.4rem;
}

/* Contact Us Section*/
.contact h2 {
    font-family: 'Hind Siliguri';
}

.contact p{
    font-size: 1.3rem;
}

.row{
    border-radius: 50px;
}

.row-contact {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6334908963585435) 32%, rgba(255,255,255,0.6138830532212884) 67%), url(image/contact.jpg);
}

.contact .row > div {
    margin: 2rem 0;
    padding: 1rem 0;
}

.contact .row > div h2 {
    font-size: 2rem;
    font-weight: 300;
    opacity: 0.9;
}

.contact-right {
    color: white;
}

.contact-right div{
    padding-left: 50px;
}

/* footer */

#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #footer p {
    font-size: 16px;
  }

  

/* Media Queries */

@media screen and (min-width: 768px){
    .service .row {
        display: grid;
        gap: 2rem;
    }

    .brands .row {
        display: grid;
        gap: 2rem;
    }

    .service-item {
        margin: 0;
    }

    .brands-item {
        margin: 0;
    }

    .contact .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    .contact-right > div:first-child{
        margin-top: 0;
    }

    .hero-btns {
        display: flex;
        justify-content: center;
        margin-top: 2rem; /* Add margin to separate from text */
    }

    .hero-btns button {
        display: inline-block;
    }
}

@media screen and (max-width: 767px){
    .contact {
        padding-top: -80rem;
    }

     .row-contact {
        background-image: linear-gradient(to right top, #051937, #004d7a50, #008793, #00bf72, #a8eb12);
        text-align: center;
    }

    .saidon {
        padding: 0;
    }
  
    .contact-right div {
      padding-left: 0;
      color: #191b17;
    }

}

@media screen and (min-width: 992px){
    .navbar{
        background: transparent;
        margin-top: 1.4rem;
    }
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        color: var(--white-smoke);
        font-size: 2rem;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block!important;
    }

    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    .nav-link{
        color: var(--white-smoke);
    }

    .hero-div h1 {
        font-size: 3.8rem;
    }

    .btn-trans {
        display: inline-block;
        margin-right: 0.8rem;
    }

    /* navbar change */
    .cng-navbar{
        -webkit-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        -moz-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        margin-top: 0;
        background: #fff;
        height: 90px
    }
    .cng-navbar .navbar-brand{
        color: var(--night-rider);
    }
    .cng-navbar .nav-link{
        color: var(--night-rider);
    }
    .about .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }

    .about-right {
        margin-top: 0;
    }

    .saidon .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }   
    
    .saidon-right {
        margin-top: 0;
    }

}

@media screen and (min-width: 1200px){
    .hero-div h1{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .service .row{
        grid-template-columns: repeat(4, 1fr);
    }

    .brands .row{
        grid-template-columns: repeat(3, 1fr);
    }
  
    .contact .row{
        column-gap: 4rem;
    } 

    .contact-right{
        padding-left: 4rem!important;
    }
}
