html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Prata;
  src: url(font/Prata/Prata-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  background-color: #f5f5f5;
  padding-top: 70px; 
  font-family: 'Prata';
}

header {
  color: black;
  padding: 10px;
  text-align: left;
  font-family: 'Prata';
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#countdown {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Prata';
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
}

nav {
  display: inline-block;
  float: right;
  padding-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #9caacf;
  color: black;
  border-radius: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

/* Section 1 */

.welcome-section{
  zoom: 0.9;
}

.content {
  display: flex;
  color: #333;
  justify-content: space-between;
  align-items: center;
  margin-right: 180px;
  margin-left: 180px;
}

.content h1 {
  font-size: 40px;
  color: rgb(4, 0, 26);
}

.top-left {
  margin-bottom: 50px;
}

.top-left h1 {
  animation: slide-right 3s;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.bottom-right {
  margin-top: 50px;
}

.bottom-right h1 {
  animation: slide-left 3s;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.first-img {
  border-radius: 10px;
  animation: fadeIn 3s;
  transition: transform .5s ease;
}

.second-img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  animation: fadeIn 3s;
  transition: transform .5s ease;
}

.welcome-section img:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Section 2 */

.our-story-section {
  text-align: center;
  padding: 50px 20px;
}

.our-story-section .content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Add this line to stack items vertically */
    align-items: center; /* Center items horizontally */
  }

.our-story-section h1 {
  font-family: 'Prata', serif;
  color: #333;
}

.our-story-section img {
  max-width: 35%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
  transition: transform .5s ease;
}

.our-story-section img:hover {
  transform: scale(1.1);
}

.os-content {
  font-family: 'Prata';
  font-size: 20px;
  color: #555;
  margin: 15px 0;
}

.see-more-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.see-more-btn:hover {
  background-color: #9caacf;
  color: #333;
}

/* Section 3 */

#the-day-of {
  text-align: left;
  padding: 20px;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 90px;
}

.step-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.next-arrow {
  max-width: 50px;
  height: auto;
  margin-right: 20px;
}

.step1, .step2, .step3, .step4, .step5, .step6, .step7 {
  max-width: 275px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px;
}

.step1 {
  margin-left: 80px;
  margin-bottom: 30px;
}

.step3 {
  margin-bottom: 25px; /* Adjust the margin-top for step 3 */
}

.step5 {
  max-width: 65%;
}

/* Section 4 */

#information {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5;
}

.info-heading {
  font-family: 'Prata';
  color: #333;
  margin-bottom: 40px;
}

.info-containers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-containers img {
  max-width: 15%;
}

.info-container {
  max-width: 300px;
  margin: 0 10px 30px;
  text-align: center; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}

.info-container h2 {
  font-family: 'Prata';
  color: #333;
  margin-bottom: 15px;
}

.info-container p {
  color: #555;
  font-size: 20px;
  margin-bottom: 15px;
}

.info-btn {
  display: inline-block;
  margin-top: auto; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.info-btn:hover {
  background-color: #9caacf;
  color: #333;
}

/* Section 5 */

#locations {
  padding: 20px;
  padding-bottom: 150px;
}

.location-info h1 {
  text-align: center;
  font-size: 35px;
}

.location-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.map-link {
  text-align: center;
  margin-top:-20px;
  margin-bottom: 50px;
}

.location-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.location-links a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.location-image img {
  max-width: 90%;
  height: auto;
  margin-left: 160px;
  margin-top: 50px;
}

/* Section 6 */

#rsvp {
  background-image: url('rsvp.jpg');
  background-size: cover;
  background-position: center;
  color: #f5f5f5;
  padding-top: 45px;
  padding-bottom: 1px;
}

.rsvp-btn {
  display: inline-block;
  padding: 10px 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 450px;
  margin-left: 580px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

#rsvp h1{
  font-size: 35px;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 100px;
}

/* Section 7 */

#photos {
  text-align: center;
  padding: 20px;
  padding-bottom: 100px;
}

#photos h1{
  font-size: 50px;
}

#photos p {
  font-size: 30px;
}

#photos img {
  max-width: 80%;
}

/* Footer */

#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#footer p {
  font-size: 16px;
}


@media only screen and (max-width: 767px) {
  /* hamburger */
.hamburger {
  display: block;
  margin-top: -40px;
  margin-left: 550px;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  right: -100%;
  top: 40px;
  gap: 0;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 25%;
  text-align: center; 
  transition: 0.3s;
}

.nav-menu {
  margin: 16px 0;
}

.nav-menu.active {
  right: 0;
}


  body {
    padding-top: 50px; /* Adjust as needed */
  }

  header {
    padding: 5px;
  }

  #countdown {
    font-size: 16px;
  }

/* Section 1 */

  .welcome-section .content {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  .top-left h1,
  .bottom-right h1 {
    font-size: 30px;
  }

  .first-img {
    width: 100%;
  }

  .second-img {
    width: 70%;
  }

  /* Section 2 */

  .our-story-section img {
    max-width: 70%;
  }

  /* Section 3 */

  
  #the-day-of .steps-container {
    flex-direction: column; /* Stack the steps vertically */
    align-items: center; /* Center items horizontally */
    margin-left: 0; /* Remove margin on the left */
  }

  .step-container {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 20px; /* Add margin between steps */
  }

  .next-arrow {
    display: none; /* Hide the arrows */
  }

  .step1, .step2, .step3, .step4, .step5, .step6, .step7 {
    max-width: 100%; /* Make images take full width */
    margin-right: 0; /* Remove margin between images */
  }

  /* Additional adjustments for better spacing and centering */
  #the-day-of h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  #the-day-of .steps-container {
    margin-left: 0;
  }

  #the-day-of .step1 {
    margin-left: 0;
  }

  #the-day-of .step5 {
    max-width: 100%; /* Adjust the width for step 5 */
  }

  /* Section 4 */

  .info-containers img {
    max-width: 30%;
  }

  .info-container {
    max-width: 100%;
    margin: 0 10px 30px;
  }

  /* Section 5 */

  .location-info {
    flex-direction: column;
  }

  .location-image img {
    margin-left: 0;
    max-width: 100%;
  }

  /* Section 6 */

  #rsvp {
    background-position: top;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rsvp-btn {
    margin-top: 20px;
    margin-left: 30%;
  }

  #rsvp h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 200px;
  }

  #photos h1 {
    font-size: 40px;
  }

  #photos p {
    font-size: 24px;
  }

  #photos img {
    max-width: 100%;
  }
}